$c_min:#000000;
$c_sec:#FFFFFF;
$c_bg:#415165;
$c_bd:#96A9C4;
$c_red:#A00404;


$fz_s:20px;
$fz_m:24px;
$fz_l:32px;
$fz_xl:80px;

body{
    font-family: PingFang, -apple-system, "Microsoft JhengHei", STHeiti, sans-serif; 
    line-height: 1.5;
    color: $c_min;
}

